<!DOCTYPE html>
<html>
<head>
    <title>Math Videos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Math Videos</h1>
        <form method="post" action="/">
            <div class="search-container">
                <input type="text" name="search_term" placeholder="Enter search term" class="search-bar">
                <button type="submit" class="search-button">Search</button>
            </div>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>  
</body>
</html>
